.footer-main {
    width: 100%;
    border: 2px solid #262626;
    background-color: #ffffff;
    padding: 100px 113px 40px 113px;
    border-radius: 12px;
    font-family: 'Outfit'; 
    box-shadow: 10px 10px 0px #1E1E1E;
    margin-top: 60px;

}
.logo-foo{
    width: 70%;
    margin-bottom: 40px;
    img{
        margin-bottom: 20px;
    }
}


.footer-sec {
    height: 100%;
    margin: 20px;
}

.footer-style {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 80px;

}
.icons-foo{
    width: 40px;
    height: 40px;
    padding: 8px;
    text-align: center;
    background-color:  #FFDECC;
    border: 2px solid #262626;
    border-radius: 6px;
}
.line-foo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-family: 'Outfit';
    margin-bottom: 20px;
}
.col-foo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    p{
        font-size: 20px;
    }
}
.last-dis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    padding: 30px 0;
    .foo-p{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            border-right: 2px solid #000000;
            padding: 3px 8px;
            font-size: 18px;
            &:last-child{
                border: none;
            }
        }
    }
    .icon-dis{
        display: flex;
        align-items: center;
        gap: 10px;
        .last-icon{
            width: 56px;
            height: 56px;
            padding: 16px;
            border: 2px solid rgb(26, 26, 26);
            border-radius: 8px;
            text-align: center;
            font-size: 24px;
            background-color: #FFDECC;
        }
    }
}
.p-copy{
    padding: 30px 0;
    text-align: center;
    color: #656567;
    font-size: 18px;
}
@media screen  and (max-width : 992px){
.footer-style{
    display: block;
    p{
        font-size: 16px;
    }
    
}
.last-dis{
    display: block;
}
.footer-main{
    padding: 60px 30px 30px 30px;
}
.logo-foo{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;

}
.line-foo{
    font-size: 16px;
}
.col-foo{
    padding: 15px 0;
}
.icon-dis{
    justify-content: center;
        margin-top: 24px;
}
.p-copy{
    font-size: 14px;
}
}