@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
body{background-color: #FFEFE5;}
